@import "../node_modules/bootstrap/scss/bootstrap";
// vs code live sass compiler setting: "savePath": "~/../src/css"

$ltgreen: #c4de9b;
$brightgreen: #82bc46;
$olivegreen: #515a2d;
$ltbrown: #977c6a;
$midbrown: #563219;
$palegreen: #d9e4cd;
$fontmain: "Inter";
$fontaccent: "Libre Caslon Text";


@mixin border {
    border: 2px solid $palegreen !important;
    border-radius: 0.5rem;
}

body {
    font-family: $fontmain;
}


/* Layout Styles */
.page-content {
    @include border;
    padding: 0.5rem;
}

.title-row {
    align-items: center;
}

.row-info {
    @include border;
    margin: 0.5rem;
}

.col-info {
    padding: 0;
    display: flex;
    flex-flow: column;
}

.col-head {
    @include border;
    font-weight: bold;
    margin: 0.25rem;
    padding: 0.25rem;
}

.col-content {
    @include border;
    margin: 0.25rem;
    padding: 0.25rem;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
}

.col-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-area {
    width: 100%;
    height: 80%;
}

.dropdown-menu {
    display: inline-block;
    top: 100%;
}

.dropdown-toggle, .dropdown {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.c-table-info {
    @include border;
    margin: 0.5rem;
    width: calc(100% - 1rem);
    border-collapse: separate;
    border-spacing: 0.25rem;
}

td, th {
    @include border;
    padding: 0.125rem 0.75rem !important;
}

/* Header Styles */
.logo-image {
    width: auto;
    height: 60px;
}

header, footer {
    background-color: $ltgreen !important;
}

.nav-link {
    color: $olivegreen;
    font-weight: 600;
}

.nav-link:hover {
    color: $midbrown;
    border-bottom: 2px solid $midbrown;
    padding-bottom: 0;
}

.nav-link.active {
    color: $midbrown; 
}


/* Icon Styles */
.icon {
    margin: 0.5rem;
}

/* Flag Styles */
.flag-box {
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
}

.flag {
    fill-opacity: 1;
    stroke-width: 1.75;
    stroke-linecap: "round";
    stroke-linejoin: "round";
    stroke-dasharray: "none";
    stroke-opacity: 1;
}

.flag-red {
    fill: var(--bs-danger);
    stroke: var(--bs-danger);
}

.flag-yellow {
    fill: var(--bs-warning);
    stroke: var(--bs-warning);
}

.flag-grey {
    fill: var(--bs-secondary);
    stroke: var(--bs-secondary);
}


/* Buttons */
.btn {
    margin: 0.5rem;
}

.btn-small {
    margin: 0.1rem;
    padding: 0.125rem 0.75rem;
    background-color: $ltgreen;
    color:black;
    border: 1px solid $brightgreen;
}

.btn-admin {
    background-color: $brightgreen;
    color: white;
    border: 1px solid $olivegreen;
}



/* Footer Styles */
footer {
    margin-top: 2rem;
    right: 0;
    bottom: 0;
    left: 0;
}